html {
  background-color: #282a36;
}

h1,
a {
  color: #ff79c6;
  border-bottom: 10px;
}

h2,
h3,
h4,
h5,
h6 {
  color: #bd93f9;
}
small {
  color: #50fa7b;
}
p,
li,
footer {
  color: #f2f2f2;
}

blockquote {
  border-left: 4px solid #ff79c6;
}
